<div class="navbar navbar-inverse top-nav navbar-fixed-top home-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand name white-text" ui-sref="home">Budget Buddy!</a>
    </div>
  </div>
</div>
<div class="fixed">
  <div id="header-wrapper" class="jumbotron">
      <div id="header" class="container">

          <!-- Logo -->
          <h1 id="logo"><a ui-sref="home">{{ctrl.welcome_message}}</a></h1>
      </div>
  </div>
</div>
<div class="topmargin">
  <!--Nav Bar-->
  <nav class="navbar navbar-inverse sidebar" role="navigation">
      <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">All Categories<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                  <li><a href="#">Savings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-piggy-bank"></span></a></li>
                  <li><a href="#">Rent<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                  <li><a href="#">Groceries<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-apple"></span></a></li>
                  <li><a href="#">Transportation<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plane"></span></a></li>
                  <li><a href="#">Restaurants<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cutlery"></span></a></li>
                  <li><a href="#">Entertainment<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-film"></span></a></li>
                  <li><a href="#">Education<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-education"></span></a></li>
                  <li><a href="#">Clothing<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tag"></span></a></li>
                  <li><a href="#">Electronics<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-phone"></span></a></li>
                  <li><a href="#">Utilities<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span></a></li>
                  <li><a href="#">Miscellaneous<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-gift"></span></a></li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Features 1 -->
  <div class="wrapper">
      <div class="container">
          <div class="row">
            <ul class="nav nav-tabs botmargin padtop">
              <li class="active" id="tab1" ng-click="ctrl.change_tab('tab1')"><a ui-sref="dash.overview">Overview</a></li>
              <li id="tab2" ng-click="ctrl.change_tab('tab2')"><a ui-sref="dash.demographic">Demographic</a></li>
              <li id="tab3" ng-click="ctrl.change_tab('tab3')"><a ui-sref="dash.location">Location</a></li>
                <li id="tab4" ng-click="ctrl.change_tab('tab4')"><a ui-sref="dash.appliance">My Smart Appliances</a></li>
            </ul>
          </div>
          <div class="row">
              <div ui-view class="wrapper" style="width: 100%; padding-left: 50px; height:48vw;"></div>
          </div>
      </div>
  </div>
</div>
