<nav class="navbar navbar-default home-nav top-nav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand name white-text">Budget Buddy</a>
    </div>
    <div class="right-margin" ng-hide="ctrl.loggedin">
      <button type="button" ng-click="ctrl.login()" class="btn btn-primary navbar-btn navbar-right button-padding indigo-accent-color">Login</button>
      <button type="button" ng-click="ctrl.signup()" class="btn btn-primary navbar-btn navbar-right button-padding indigo-accent-color">Sign Up</button>
    </div>
    <div class="right-margin" ng-show="ctrl.loggedin" ui-sref="dash.overview">
      <button type="button" class="btn btn-primary navbar-btn navbar-right button-padding indigo-accent-color">Dashboard</button>
    </div>
  </div>
</nav>
<div class="block ">
  <div  class="jumbotron home-jumbo" style="position: relative">
      <div id="header" class="container padbot">
          <!-- Logo -->
          <h1 id="logo"><a ui-sref="home">{{ctrl.welcome_message}}</a></h1>
      </div>
      <div class="center quote-text">
        <h2 class="white-text padtop center padbot quote-text">We help you save money by comparing you to people like you.</h2>
      </div>
  </div>
</div>
<div class="block accent-color">

</div>
