<nav class="navbar navbar-default home-nav top-nav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand name white-text">Budget Buddy</a>
    </div>
    <div class="right-margin" ng-hide="ctrl.loggedin">
      <button type="button" ng-click="ctrl.login()" class="btn btn-primary navbar-btn navbar-right button-padding indigo-accent-color">Login</button>
      <button type="button" ng-click="ctrl.signup()" class="btn btn-primary navbar-btn navbar-right button-padding indigo-accent-color">Sign Up</button>
    </div>
    <div class="right-margin" ng-show="ctrl.loggedin" ui-sref="dash.overview">
      <button type="button" class="btn btn-primary navbar-btn navbar-right button-padding indigo-accent-color">Dashboard</button>
    </div>
  </div>
</nav>
<div class="block ">
  <div  class="jumbotron home-jumbo" style="position: relative">
      <div id="header" class="container padbot">
          <!-- Logo -->
          <h1 id="logo"><a ui-sref="home">{{ctrl.welcome_message}}</a></h1>
      </div>
      <div class="center quote-text">
        <h2 class="white-text padtop center padbot quote-text">We help you save money by comparing you to people like you.</h2>
      </div>
  </div>
</div>
<div class="block accent-color">
  <img class="img-responsive" src="../../assets/img/graphs.jpg" alt="" />
  <h1 class="center padtop white-text page-title padbot">Sort by Categories!</h1>
  <div class="block accent-color">
    <ul class="list-group padbot padtop accent-color col-xs-8 col-xs-offset-2">
        <li class="list-group-item"><a href="#">Savings<span style="font-size:16px;" class="badge glyphicon glyphicon-piggy-bank"></span></a></li>
        <li class="list-group-item"><a href="#">Rent<span style="font-size:16px;" class="badge glyphicon glyphicon-home"></span></a></li>
        <li class="list-group-item"><a href="#">Groceries<span style="font-size:16px;" class="badge glyphicon glyphicon-apple"></span></a></li>
        <li class="list-group-item"><a href="#">Transportation<span style="font-size:16px;" class="badge glyphicon glyphicon-plane"></span></a></li>
        <li class="list-group-item"><a href="#">Restaurants<span style="font-size:16px;" class="badge glyphicon glyphicon-cutlery"></span></a></li>
        <li class="list-group-item"><a href="#">Entertainment<span style="font-size:16px;" class="badge glyphicon glyphicon-film"></span></a></li>
        <li class="list-group-item"><a href="#">Education<span style="font-size:16px;" class="badge glyphicon glyphicon-education"></span></a></li>
        <li class="list-group-item"><a href="#">Clothing<span style="font-size:16px;" class="badge glyphicon glyphicon-tag"></span></a></li>
        <li class="list-group-item"><a href="#">Electronics<span style="font-size:16px;" class="badge glyphicon glyphicon-phone"></span></a></li>
        <li class="list-group-item"><a href="#">Utilities<span style="font-size:16px;" class="badge glyphicon glyphicon-wrench"></span></a></li>
      </ul>
  </div>

</div>
